<div class="container">
<div class='row mt-5'>
    <div class="col-sm">
        <div class="row mt-1">
            <h2>Realizacja <%= @busy.name %></h2>
        </div>
    </div>
    <div class="col-sm text-right mt-1">
        <%= link_to busy_index_path, class:'btn btn-primary button-index'  do %>
        <strong><%= fa_icon 'hand-point-left' %> Powrót</strong>
        <% end %>
    </div>
</div>    
    <div class="card border-primary mt-5 mb-5">
        <div class="card-body">
            <div class="row mb-1">
                <div class="col-sm">
                    <p class="ml-3"><%= @busy.name %></p>
                </div>
                <div class="col-sm text-right">
                    <% if logged_in? %>
                        <%= link_to "Usuń", busy_path(@busy), class: "btn btn-outline-danger button-index", method: :delete, data: {confirm: "Na pewno usunąć?"}  %>
                        <%= link_to 'Edytuj', edit_busy_path(@busy), class:'btn btn-outline-info button-index' %>
                    <% end %>
                </div>
            </div>
            <button type="button" class="collapsibles">Opis realizacji</button>
            <div class="content">
                <p class="card-text mb-3"><%= @busy.opis %></p>
            </div>
        </div>
    </div>
</div>

<%= javascript_pack_tag 'collapsibles.js' %>