<div class="container">
    <div class="row mt-3 justify-content-center">
        <h2>Skontaktuj się z nami</h2>
    </div>
    <hr class="rounded margin-left-right">
    <div class="row mt-5 justify-content-center">
        <div class="card-deck">
            <div class="card" style="width: 19rem;">
                <div class="card-body">
                    <h5 class="card-title mb-4 text-center"><%= image_tag 'telephone-operator.png'%></h5>
                    <h5 class="card-title text-center">Kamil Celej</h5>
                    <h6 class="card-subtitle mb-3 text-muted text-center">Specjalista od oklejania</h6>
                    <p class="card-text"><%= fa_icon 'phone-square-alt'%> 555-555-555</p>
                    <p class="card-text"><%= fa_icon 'envelope-square'%> oklejacz1@o2.pl</p>
                </div>
            </div>
            <div class="card" style="width: 19rem;">
                <div class="card-body">
                    <h5 class="card-title mb-4 text-center"><%= image_tag 'telephone-operator.png'%></h5>
                    <h5 class="card-title text-center">Kamil Celej</h5>
                    <h6 class="card-subtitle mb-3 text-muted text-center">Specjalista od oklejania</h6>
                    <p class="card-text"><%= fa_icon 'phone-square-alt'%> 555-555-555</p>
                    <p class="card-text"><%= fa_icon 'envelope-square'%> oklejacz1@o2.pl</p>
                </div>
            </div>
            <div class="card" style="width: 19rem;">
                <div class="card-body">
                    <h5 class="card-title mb-4 text-center"><%= image_tag 'telephone-operator.png'%></h5>
                    <h5 class="card-title text-center">Kamil Celej</h5>
                    <h6 class="card-subtitle mb-3 text-muted text-center">Specjalista od oklejania</h6>
                    <p class="card-text"><%= fa_icon 'phone-square-alt'%> 555-555-555</p>
                    <p class="card-text"><%= fa_icon 'envelope-square'%> oklejacz1@o2.pl</p>
                </div>
            </div>
        </div>
    </div>
</div>